
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ServicePlanner</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="templates">
                <span class="bi bi-file-earmark-text-nav-menu" aria-hidden="true"></span> Templates
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="services">
                <span class="bi bi-calendar-event-nav-menu" aria-hidden="true"></span> Services
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="songs">
                <span class="bi bi-music-note-list-nav-menu" aria-hidden="true"></span> Songs
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="import-songs">
                        <span class="bi bi-upload-nav-menu" aria-hidden="true"></span> Import Songs
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <Authorized>
                <hr class="nav-divider" />
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/users">
                        <span class="bi bi-people-nav-menu" aria-hidden="true"></span> User Management
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>
